@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: #fff;
  color: #fff;

  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header nav {
  text-align: center;
  display: block;
}

ul {
  padding-inline-start: 0;
}

li {
  align-items: center;
}

.menu {
  background-color: #ffc0cb;
  border: 2px solid #e75480;
  display: block;
}

.icons {
  justify-content: space-between;
  padding: .5em;
  display: flex;
  width: 25%;
}

h1 {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  font-size: 2rem;
  display: block;
  padding: 0 1em;
}

.box {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  color: #ffc0cb;
  padding: .5em;
}
.box a {
  background-color: #e75480;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: .5em;
  color: #fff;
}

.box a:hover {
  background-color: #fff;
  color: #e75480;
}

img {
  display: block;
  width: 100%;
}

.card-flex {
  display: flex;
  width: 100%;
}

.card-label {
  padding: .3rem 1rem .3rem calc(1rem - 4px);
  background-color: rgba(255, 255, 255, .6);
  border-left: 4px solid #e75480;
  position: absolute;
  color: #000;
}

.about {
  background-color: #ffc0cb;
  margin-block-start: 1em;
  display: inline-block;
  margin-block-end: 0;
  text-align: left;
  padding: .5em;
  color: #fff;
}

.blurb {
  display: inline-block;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  text-align: left;
  color: #000;
}

.btn {
  background-color: #e75480;
  margin-block-end: 0.5em;
  margin-block-start: 0;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  padding: .5em;
  color: #fff;
}

.footer{
  justify-content: space-between;
  background-color: #ffc0cb;
  border: 2px solid #e75480;
  list-style-type: none;
  padding: 1em 2em;
  flex-wrap: wrap;
  display: flex;
}

h2 {
  position: block;
  color: #fff;
}

.links {
  padding: 0.5em 0.75em;
  text-align: left;
  display: block;
  color: #ffc0cb;
}

.links a {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.links a:hover {
  text-decoration: underline;
  color: #e75480;
}

.socials {
  padding: 0.5em 0.75em;
  text-align: left;
  display: block;
  color: #ffc0cb;
}
.socials a {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.socials a:hover {
  text-decoration: underline;
  color: #e75480;
}

.fine-print {
  padding: 0.5em 0.75em;
  align-items: center;
  text-align: center;
  display: block;
  margin: auto;
}

.copyright {
  padding: 0.5em 0.75em;
  align-items: center;
  text-align: center;
  display: block;
  margin: auto;
}

.date {
  padding: 0.5em 0.75em;
  align-items: center;
  text-align: center;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  body {
    margin: 0 0 1.3rem;
  }

  .fine-print {
    align-items: flex-end;
    text-align: right;
  }

  .copyright {
    text-align: right;
  }

  .date {
    text-align: right;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  body {
    margin: 0 0 1.4rem;
  }

  img {
    display: inline-block;
    width: 33.3333%;
    float: left;
  }

  .fine-print {
    align-items: flex-end;
    text-align: right;
  }

  .copyright {
    text-align: right;
  }

  .date {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  body {
    margin: 0 0 1.5rem;
  }

  img {
    display: inline-block;
    width: 33.3333%;
    float: left;
  }

  .fine-print {
    align-items: flex-end;
    text-align: right;
  }

  .copyright {
    text-align: right;
  }

  .date {
    text-align: right;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  body {
    margin: 0 0 1.5rem;
  }

  img {
    display: inline-block;
    width: 33.3333%;
    float: left;
  }

  .fine-print {
    align-items: flex-end;
    text-align: right;
  }

  .copyright {
    text-align: right;
  }

  .date {
    text-align: right;
  }

}
