html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  background-color: #ffc0cb;
  border: 2px solid #e75480;
  display: block;
}

h1 {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
}

.box {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  color: #ffc0cb;
  padding: .5em;
}

.box2 {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  color: #ffc0cb;
  padding: .5em;
}

.box3 {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  color: #ffc0cb;
  padding: .5em;
}

.box4 {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  color: #ffc0cb;
  padding: .5em;
}

a {
  background-color: #e75480;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: .5em;
  color: #fff;
}

a:hover {
  background-color: #fff;
  color: #e75480;
}

img {
  width: 100%;
}

.img-flex {
  display: block;
  width: 100%;
}

footer {
  background-color: #ffc0cb;
  border: 2px solid #e75480;
  text-align: left;
  display: block;
  padding: .5em;
}
